.videoCard
{
    margin-bottom: 40px;
    width: 270px;
}

.videoCard_thumbnail
{
    height: 140px;
    width: 250px;
}

.videoCard_info
{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoCard_info  .videoCard_avatar img
{
   
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    margin: 10px;
    
}

.video_text 
{
    margin-left: 15px;

}

.video_text >h4 
{
    font-size: 14px;
    margin-bottom: 5px;
}

.video_text >p 
{
    font-size: 14px;
    color: gray;

}


